<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Files</key>
	<dict>
		<key>ACPI\SSDT-AWAC.aml</key>
		<data>
		E+blb8Dsn5ejtpFp1bKpFoQiFhDSSPDUzAusJ0GNPrM=
		</data>
		<key>ACPI\SSDT-GPRW.aml</key>
		<data>
		VlvmcqM8SRPYD6qOpZ1vIMSClXLph3emqa5+uYt5KQ8=
		</data>
		<key>ACPI\SSDT-OC-XOSI.aml</key>
		<data>
		Axdvfuw/VPv5z6W52g+ZTwYqGjqOGXcHZfg1YW+fHMY=
		</data>
		<key>ACPI\SSDT-PLUG.aml</key>
		<data>
		UUqgYU7DalMt2yZ21Zlgfe3T9tSb0lCuHfRQQCN3ulY=
		</data>
		<key>Drivers\HfsPlus.efi</key>
		<data>
		YZNfOa7Vd9ad+WYoL5P9KIamEcJm33rI8QVYttLXHXg=
		</data>
		<key>Drivers\OpenCanopy.efi</key>
		<data>
		dOBKOLMUg0Dvdr2kUr+OjMpC5KWNeszSbh3EZZV2J7I=
		</data>
		<key>Drivers\OpenRuntime.efi</key>
		<data>
		yNJPa6JVAR2GcwQjcZRzKRZMhy/kTL5KyIERaiUVzXc=
		</data>
		<key>Kexts\AirportItlwm.kext\Contents\Info.plist</key>
		<data>
		73B85WkYWpA5riTaTgjW1MsTyUY6QD5Htdg//Q0fJ2g=
		</data>
		<key>Kexts\AirportItlwm.kext\Contents\MacOS\AirportItlwm</key>
		<data>
		960B3rgRgiHYAnOMhmCjzNX+kCTjFTYepAeXHeIzf1E=
		</data>
		<key>Kexts\AppleALC.kext\Contents\Info.plist</key>
		<data>
		Xw0xE/ae20yIyQAuKjKzkDj2usiZ/vkPlqzWzjCGoWY=
		</data>
		<key>Kexts\AppleALC.kext\Contents\MacOS\AppleALC</key>
		<data>
		T5BDqReQwuMtStm+vlnU39Q7WznGBXNkQsY5/d1Mgks=
		</data>
		<key>Kexts\BlueToolFixup.kext\Contents\Info.plist</key>
		<data>
		zpDZd306zu9WegVT+ymwyHDWhz6TbwGIGA73T/vs8v4=
		</data>
		<key>Kexts\BlueToolFixup.kext\Contents\MacOS\BlueToolFixup</key>
		<data>
		jgmE2P3oyYz2n3cJMDE2ABSdzYcm78r8bNvaOIPpgr0=
		</data>
		<key>Kexts\IntelBluetoothFirmware.kext\Contents\Info.plist</key>
		<data>
		CT4TLt1ru8MkNIG8ixMf7Q9iqZ0hVT2zZBn/b4dHLbM=
		</data>
		<key>Kexts\IntelBluetoothFirmware.kext\Contents\MacOS\IntelBluetoothFirmware</key>
		<data>
		OjHYc675Czf+sSBEmfYYepHL8T/K3YxVJydPtDWCcYI=
		</data>
		<key>Kexts\IntelBluetoothInjector.kext\Contents\Info.plist</key>
		<data>
		axLOYBUrDDuyNlK8K959lZqsF/EidkLuVjOVP6kT5Cc=
		</data>
		<key>Kexts\Lilu.kext\Contents\Info.plist</key>
		<data>
		8CjjBvoM+W28qkzEgIKKBx2xXS9XhmjvYEHsYfay9x8=
		</data>
		<key>Kexts\Lilu.kext\Contents\MacOS\Lilu</key>
		<data>
		yaxzq334+k0h8lGufYMeUtEnvd7amv0G/dFlQWzh8Pk=
		</data>
		<key>Kexts\SMCProcessor.kext\Contents\Info.plist</key>
		<data>
		f/PhRPqt76/XHCw8I6fcgxihQWjXoleD5v7XAl7plfE=
		</data>
		<key>Kexts\SMCProcessor.kext\Contents\MacOS\SMCProcessor</key>
		<data>
		Anhtftq0g3Dskqs5iqVhwlsHcj8+tdmcZXqFjHL2MAA=
		</data>
		<key>Kexts\SMCSuperIO.kext\Contents\Info.plist</key>
		<data>
		MdLPc2e5BMd2WzD828h0N5+mXIaIdrwAHT5jjbk8NaU=
		</data>
		<key>Kexts\SMCSuperIO.kext\Contents\MacOS\SMCSuperIO</key>
		<data>
		I6mmaFK703Yurxl9S/CswmapiNU+4xp4p51m77S9vgs=
		</data>
		<key>Kexts\USBPorts.kext\Contents\Info.plist</key>
		<data>
		HNLTlKaBv2wMpgfqCnjgG/WIQKcAuhi3dVoQCKIwP/E=
		</data>
		<key>Kexts\VirtualSMC.kext\Contents\Info.plist</key>
		<data>
		a6XGT74TWaSPjPo17GURpwEX2ST99hPg3qp5mVI5km0=
		</data>
		<key>Kexts\VirtualSMC.kext\Contents\MacOS\VirtualSMC</key>
		<data>
		01vUbv9feZtNYKRYKzmlihJ7cTo3xpwsWjdw0RnThPA=
		</data>
		<key>Kexts\WhateverGreen.kext\Contents\Info.plist</key>
		<data>
		m9ocLWz6cRfGRX3cgqxETGqbRMFrgSwnjVFwMIe6Cdo=
		</data>
		<key>Kexts\WhateverGreen.kext\Contents\MacOS\WhateverGreen</key>
		<data>
		Z9WaHa4G/GqcAb7vMPhlxsONbE96e3XFXGVX+idPcOA=
		</data>
		<key>Resources\Audio\OCEFIAudio_VoiceOver_Boot.wav</key>
		<data>
		dXRc09YdoLrc8Heip4I4sHIicsfDwiXCGjjPzF+IJok=
		</data>
		<key>Resources\Font\Font_1x.bin</key>
		<data>
		XCV5IkjW0tblOKt5XQXNyWy4ccoo/jj6BA/5j+xiTpU=
		</data>
		<key>Resources\Font\Font_1x.png</key>
		<data>
		cCpjm973z5PWFF0Ir3qAksRwfAjPujdpJT8cC7GbG5Q=
		</data>
		<key>Resources\Font\Font_2x.bin</key>
		<data>
		s2rSstzd4UZ1lFLSUUt/eAC5xomPooRWaWXWn2EbsYg=
		</data>
		<key>Resources\Font\Font_2x.png</key>
		<data>
		T7Rc18QRoPovyg6kwfwqATD4rwvNxxJ07ID7sZ8UrE4=
		</data>
		<key>Resources\Image\Acidanthera\Chardonnay\AppleRecv.icns</key>
		<data>
		BYIIrqxgEPGXmoah2ZkMmI7rSVwXHwTZRE0u7ZeRAiI=
		</data>
		<key>Resources\Image\Acidanthera\Chardonnay\AppleTM.icns</key>
		<data>
		kfqbz0TgBkWq0TlYnZgBVjIigruI8fVrW+rjIc1fd4g=
		</data>
		<key>Resources\Image\Acidanthera\Chardonnay\BtnFocus.icns</key>
		<data>
		IS4QjANrrtqVFjI5s/e6eFDIaB9NLhpJD0USO6m7zN8=
		</data>
		<key>Resources\Image\Acidanthera\Chardonnay\Cursor.icns</key>
		<data>
		cFrd6p5REd0tw/V/R0QLKCTIwR3FIZWor2hjc0pNQvQ=
		</data>
		<key>Resources\Image\Acidanthera\Chardonnay\Dot.icns</key>
		<data>
		V9zyQ7+03RXENw++Jk8DQ86HEo93sK4w0m3eMkDQ7Ec=
		</data>
		<key>Resources\Image\Acidanthera\Chardonnay\Enter.icns</key>
		<data>
		2qjlYfDL8SQh33YrgOL3ZxPSPORnUnHZa5QPAubZVk8=
		</data>
		<key>Resources\Image\Acidanthera\Chardonnay\ExtAppleRecv.icns</key>
		<data>
		kCAVGiy7XvX5OeArbGsj/YA2tPFO9H5Nu2rsK3mlwaE=
		</data>
		<key>Resources\Image\Acidanthera\Chardonnay\ExtAppleTM.icns</key>
		<data>
		v1i8lfUZhtA0AZzjSYTIm7LALt8ewR3XFtxesyqYpQg=
		</data>
		<key>Resources\Image\Acidanthera\Chardonnay\ExtHardDrive.icns</key>
		<data>
		lx2LM6/BjCD+7JjBZwxTifveSSBuZ0a0vZozYfgPhsM=
		</data>
		<key>Resources\Image\Acidanthera\Chardonnay\HardDrive.icns</key>
		<data>
		bdk6FQmsEZNwuu23yYPgcPL2I3Ef/J5EMLFgZj8JmCk=
		</data>
		<key>Resources\Image\Acidanthera\Chardonnay\Left.icns</key>
		<data>
		cgikYbQZTogUg01b6l1QcJFazpSn7v0m++i/kxhZiFo=
		</data>
		<key>Resources\Image\Acidanthera\Chardonnay\Lock.icns</key>
		<data>
		lxK2A2D/aURH/KnkYZPz0CxBdcencIhMLjp1dp8Y6l4=
		</data>
		<key>Resources\Image\Acidanthera\Chardonnay\Password.icns</key>
		<data>
		o7X2QdbeJcGMkbTqfqw2JUdmTHKDbJHXYGZPQ2+MgL4=
		</data>
		<key>Resources\Image\Acidanthera\Chardonnay\Restart.icns</key>
		<data>
		DkO+eSgCVKft+fN7j/UahgMwb9eYt93nlhyRvQMS14M=
		</data>
		<key>Resources\Image\Acidanthera\Chardonnay\Right.icns</key>
		<data>
		AhlZLho660xpg8WhrHAAKrrgFFIG5Jl0MR47sA5nr00=
		</data>
		<key>Resources\Image\Acidanthera\Chardonnay\Selected.icns</key>
		<data>
		vx8ufLxFiYZRp2r38/XXdwAZCC5YA5X5CDi1nV1eDlA=
		</data>
		<key>Resources\Image\Acidanthera\Chardonnay\Selector.icns</key>
		<data>
		9rRKs/YfQiHpV0iqtD9yexvZ25YKg5d3OoDD3cepdMA=
		</data>
		<key>Resources\Image\Acidanthera\Chardonnay\SetDefault.icns</key>
		<data>
		qZnS/oJnPBX4GUSWNNbNLPXHuUwFePgCqMgztCNke6A=
		</data>
		<key>Resources\Image\Acidanthera\Chardonnay\Shell.icns</key>
		<data>
		gEcPCfcDTmFjthsXV+0PmwUQJiThDYfLGU8EiMWm1Yo=
		</data>
		<key>Resources\Image\Acidanthera\Chardonnay\ShutDown.icns</key>
		<data>
		hWoPve+mDidJbhz/Lc8Ztl16JpyI2alOCguhknz+oRw=
		</data>
		<key>Resources\Image\Acidanthera\Chardonnay\Tool.icns</key>
		<data>
		ki1bEsK6JJbF7q3YNKyeoa+zh+UzJiAaQZSZOZWArYs=
		</data>
		<key>Resources\Image\Acidanthera\Chardonnay\Windows.icns</key>
		<data>
		wNcbRCTnfXw2Baf/ZnCvqoHh1c0O80ez6gQod9GAm/s=
		</data>
		<key>Resources\Image\Acidanthera\GoldenGate\AppleRecv.icns</key>
		<data>
		/BgNBDK61juRB9enaiMVbKTBTprFwB+STva6Nyowc9o=
		</data>
		<key>Resources\Image\Acidanthera\GoldenGate\AppleTM.icns</key>
		<data>
		ZPMdZ9ZdI1Ewm8MvRMSXK0hRCzskX5Jl4847V85+uww=
		</data>
		<key>Resources\Image\Acidanthera\GoldenGate\BtnFocus.icns</key>
		<data>
		IS4QjANrrtqVFjI5s/e6eFDIaB9NLhpJD0USO6m7zN8=
		</data>
		<key>Resources\Image\Acidanthera\GoldenGate\Cursor.icns</key>
		<data>
		Jq5yGVAvPVr6v4tBk0e8gtC6JqFErC0H4B99KR7/YA0=
		</data>
		<key>Resources\Image\Acidanthera\GoldenGate\Dot.icns</key>
		<data>
		AaUyqSXczuR93dz/Lgz1u5nYUR0iPqc7rpizmN71A4M=
		</data>
		<key>Resources\Image\Acidanthera\GoldenGate\Enter.icns</key>
		<data>
		6dRwvxmbVfW2nYfKxkSmwuqxaXIEa0eFOZongcm5YPQ=
		</data>
		<key>Resources\Image\Acidanthera\GoldenGate\ExtAppleRecv.icns</key>
		<data>
		YjdIMMCOHFWkvTjhDIhhZkkn0zIvetOOE/fKHlkJARs=
		</data>
		<key>Resources\Image\Acidanthera\GoldenGate\ExtAppleTM.icns</key>
		<data>
		fIIdnzB+TdAwXH5ycb+ZD3J6ZUVBlXkFp2/WAEutyDA=
		</data>
		<key>Resources\Image\Acidanthera\GoldenGate\ExtHardDrive.icns</key>
		<data>
		+4qdClWN6wkZ2WNMUJzPraCVfiiKmd1SRb+Y48gwdxA=
		</data>
		<key>Resources\Image\Acidanthera\GoldenGate\HardDrive.icns</key>
		<data>
		MbwlF/zaeBXfZzXWM185aZGnOSTNoKTgRn3jI/M/m0M=
		</data>
		<key>Resources\Image\Acidanthera\GoldenGate\Left.icns</key>
		<data>
		4RZNZu53JIjABj1ilEVR3IIlg6b9gh2TNDHFtlBgIbc=
		</data>
		<key>Resources\Image\Acidanthera\GoldenGate\Lock.icns</key>
		<data>
		tcxFjna2CE48m36dSHwes/2m5OddTygUv3fAOgfQ/Rw=
		</data>
		<key>Resources\Image\Acidanthera\GoldenGate\Password.icns</key>
		<data>
		QfBs/dqJYwnOXptQkK65wn7BIuYRs+5ngYAMMKkklVQ=
		</data>
		<key>Resources\Image\Acidanthera\GoldenGate\Restart.icns</key>
		<data>
		4gn0mbC3FGaBx+LmvftwTK13paU8Pl1U9OJhkTCyA8k=
		</data>
		<key>Resources\Image\Acidanthera\GoldenGate\Right.icns</key>
		<data>
		5P0IBHULK9sgClozD9t+YhXRUHitJja9WfakKn+v4HI=
		</data>
		<key>Resources\Image\Acidanthera\GoldenGate\Selected.icns</key>
		<data>
		SrjQNmb8/9l64Ybs5ZNFo3Am7Cn7krO/ROAIdW0WSkY=
		</data>
		<key>Resources\Image\Acidanthera\GoldenGate\Selector.icns</key>
		<data>
		TgTAN7FE9CgKE5ZQM0+QbSoGHpxOMhmjiDycbNOsH9s=
		</data>
		<key>Resources\Image\Acidanthera\GoldenGate\SetDefault.icns</key>
		<data>
		Z9P8Ge5tvsQYcHYipG4OKhPRZVyc08hAhvxsb189xDo=
		</data>
		<key>Resources\Image\Acidanthera\GoldenGate\Shell.icns</key>
		<data>
		oMWuySb25GSzbGFvPbE/DCIfOYzrSDfLjaFD4EFBegk=
		</data>
		<key>Resources\Image\Acidanthera\GoldenGate\ShutDown.icns</key>
		<data>
		u0Wp4BUN9kEDxJg0cec1Jbf7njJWNxSrFK9nwfgGAC0=
		</data>
		<key>Resources\Image\Acidanthera\GoldenGate\Tool.icns</key>
		<data>
		X7xov3P65oJ2Zmkd+TEoXLlP3s6FRgyXBLZIcJZ8GYU=
		</data>
		<key>Resources\Image\Acidanthera\GoldenGate\Windows.icns</key>
		<data>
		IkPiIAOWRqWCMEzmZhnhz6dYOU5vOrtYuTq56xFkq5A=
		</data>
		<key>Resources\Image\Acidanthera\Syrah\AppleRecv.icns</key>
		<data>
		B7hfEZiy+0DN5mhJRhO8vRXKn7xj/CYaunv3+aPcw0I=
		</data>
		<key>Resources\Image\Acidanthera\Syrah\AppleTM.icns</key>
		<data>
		2THGhilwQruqRcy0LW1OqCGr5qVaxlWHQzKb96AtBwQ=
		</data>
		<key>Resources\Image\Acidanthera\Syrah\BtnFocus.icns</key>
		<data>
		IS4QjANrrtqVFjI5s/e6eFDIaB9NLhpJD0USO6m7zN8=
		</data>
		<key>Resources\Image\Acidanthera\Syrah\Cursor.icns</key>
		<data>
		jWnjyC+nftf8rbEBmttXiqobKyBgUNNVTnKTRH2k1vU=
		</data>
		<key>Resources\Image\Acidanthera\Syrah\Dot.icns</key>
		<data>
		l3eFkatx99nKmx4V8fLnx703y4mvCWLnafKgms2MZ2I=
		</data>
		<key>Resources\Image\Acidanthera\Syrah\Enter.icns</key>
		<data>
		RZymRLyjRS+1mlXMmrz8Wy0GHrLgfTa27Aftr7oajlk=
		</data>
		<key>Resources\Image\Acidanthera\Syrah\ExtAppleRecv.icns</key>
		<data>
		7xLvdstZvJsbpWA0XV68d/Wvf2qj8o21dwlHiORrc38=
		</data>
		<key>Resources\Image\Acidanthera\Syrah\ExtAppleTM.icns</key>
		<data>
		qNVam12lgS9r1kxUMrTkFNa7IC4qyXEf1XAqyfXRq58=
		</data>
		<key>Resources\Image\Acidanthera\Syrah\ExtHardDrive.icns</key>
		<data>
		byYuBaNvH/PloBeLM5YmwVa+aN6Pm120uQZSzhF0RYs=
		</data>
		<key>Resources\Image\Acidanthera\Syrah\HardDrive.icns</key>
		<data>
		ZSydAoxJb6XadZEPkLMSur6b76ouYgo0bedlFcPdGZw=
		</data>
		<key>Resources\Image\Acidanthera\Syrah\Left.icns</key>
		<data>
		mY3M9BpRYs+sDq+zkEuOF3LPB88iEo50iv8fGM2/bf4=
		</data>
		<key>Resources\Image\Acidanthera\Syrah\Lock.icns</key>
		<data>
		QiNqk+Nw0VNN1KrVmVK86dLqaHwmSsbd2dKgWxN3+YE=
		</data>
		<key>Resources\Image\Acidanthera\Syrah\Password.icns</key>
		<data>
		dzfPSTxG0wf0k895MpwLiXwzCrb8ssd0QREnCU0L1qc=
		</data>
		<key>Resources\Image\Acidanthera\Syrah\Restart.icns</key>
		<data>
		4gn0mbC3FGaBx+LmvftwTK13paU8Pl1U9OJhkTCyA8k=
		</data>
		<key>Resources\Image\Acidanthera\Syrah\Right.icns</key>
		<data>
		s4KOCJhiBhYdnnRXpb3UG8WgYK3MANCuGdVt9gsbHBM=
		</data>
		<key>Resources\Image\Acidanthera\Syrah\Selected.icns</key>
		<data>
		3j7UwdA2B+fxXOpYKLe6onQ0k6QZJpjCim84A7Uho84=
		</data>
		<key>Resources\Image\Acidanthera\Syrah\Selector.icns</key>
		<data>
		h97pfGgo2LSvDSR+9lP44WlGKU8RimrHER+THX4Gw/Q=
		</data>
		<key>Resources\Image\Acidanthera\Syrah\SetDefault.icns</key>
		<data>
		Xf68zmlqiJ2GujQfvTcD6NU65ybKNjpQ25mYjVw9bYA=
		</data>
		<key>Resources\Image\Acidanthera\Syrah\Shell.icns</key>
		<data>
		p5qs2O/dgXshBdR3+inPDaS7dH3chT5CY0G9DVlO1Y8=
		</data>
		<key>Resources\Image\Acidanthera\Syrah\ShutDown.icns</key>
		<data>
		u0Wp4BUN9kEDxJg0cec1Jbf7njJWNxSrFK9nwfgGAC0=
		</data>
		<key>Resources\Image\Acidanthera\Syrah\Tool.icns</key>
		<data>
		P/qbWF8tPEpxYMJaR8zmm0aYw44eX6zYSKQczHYKtuo=
		</data>
		<key>Resources\Image\Acidanthera\Syrah\Windows.icns</key>
		<data>
		vdSheJ+3sDd3ARNfArhva6RhRFwnuaQz9ZN/X7oh38o=
		</data>
		<key>Resources\Image\Github\BsxImacSilver\Apple.icns</key>
		<data>
		FhmgKTHI1YdSALLtR8EF3KqfscdTPU+eJiiIbpgGBfE=
		</data>
		<key>Resources\Image\Github\BsxImacSilver\AppleRecv.icns</key>
		<data>
		nCKp/q2tp7lpDFOwoyGsdAXe2N0CFXv4844DzWgcjRk=
		</data>
		<key>Resources\Image\Github\BsxImacSilver\AppleTM.icns</key>
		<data>
		Hs1e7cZTjTDPT0P+XHs0oMhYVisKBo0MCsMaEqN32oI=
		</data>
		<key>Resources\Image\Github\BsxImacSilver\Background.icns</key>
		<data>
		cXiHZIpHAj1RY4m9XapIkyBmKT7c/oB4r1gXO7QPklg=
		</data>
		<key>Resources\Image\Github\BsxImacSilver\Bootloader.icns</key>
		<data>
		vGBaR9p+KVo/sYVmmh94dau8dSDe4WtqhG/zZcpE0lM=
		</data>
		<key>Resources\Image\Github\BsxImacSilver\BtnFocus.icns</key>
		<data>
		0nvs7PWD4isilt1eAHtGHn0HGGpxmhIQTRe7TTJyaZ8=
		</data>
		<key>Resources\Image\Github\BsxImacSilver\Cursor.icns</key>
		<data>
		yU5BBziyEfw7Li/IOHgfT45ptGK0YGA1s+kMIcBePqc=
		</data>
		<key>Resources\Image\Github\BsxImacSilver\Dot.icns</key>
		<data>
		Pxc+WVsuBXs9O1PmtPSS8Xb/192n+1zAxVs1bCR71kc=
		</data>
		<key>Resources\Image\Github\BsxImacSilver\Enter.icns</key>
		<data>
		ENNeThz3+qqsUXieqhJMABiQ3IQUMNIBfg9uVItt/Vw=
		</data>
		<key>Resources\Image\Github\BsxImacSilver\ExtApple.icns</key>
		<data>
		szC0Ws7IvhKzS3aq3o3LJDsGclpJIiZxwB0R94Torpo=
		</data>
		<key>Resources\Image\Github\BsxImacSilver\ExtAppleRecv.icns</key>
		<data>
		QzENygiDFPUMajVRdK+s3WhcPvCK/RH9e6uASlNKRjA=
		</data>
		<key>Resources\Image\Github\BsxImacSilver\ExtAppleTM.icns</key>
		<data>
		mmowYICic4sabr1VlAqW5ChK4bDqVq2CojU2UsCL+lY=
		</data>
		<key>Resources\Image\Github\BsxImacSilver\ExtHardDrive.icns</key>
		<data>
		6h5hrRZ8E2RMxEQx74O61cy0sU+a9nmqDfdkBFLGVcc=
		</data>
		<key>Resources\Image\Github\BsxImacSilver\ExtShell.icns</key>
		<data>
		cxDlZ/ITqw9Z4CdWo4zhEScrsNX2hHHGkJISckOsDlM=
		</data>
		<key>Resources\Image\Github\BsxImacSilver\ExtWindows.icns</key>
		<data>
		jnveFQav4H+ajz3qwiwL+rmH4qOI2jakvKGoR4JS/Co=
		</data>
		<key>Resources\Image\Github\BsxImacSilver\ExtWindows11.icns</key>
		<data>
		/itNW0SSy7dBNDSdNhz1YzRbYOhX6VfOD6W2uIhvsws=
		</data>
		<key>Resources\Image\Github\BsxImacSilver\ExtWindows11_Rounded.icns</key>
		<data>
		MUVlLO8ClP4QGCELSUqgU/BQbqgJFbS8r1Ww+FQzNDw=
		</data>
		<key>Resources\Image\Github\BsxImacSilver\Grub.icns</key>
		<data>
		tVXIgHiG1zTQHSYehm0IIYA5m6ncI7yDr3yG0q9zyVA=
		</data>
		<key>Resources\Image\Github\BsxImacSilver\HardDrive.icns</key>
		<data>
		gFUYUGGx+gXehPJQRK/nYuToRjZkR0wyS5/AbONClT0=
		</data>
		<key>Resources\Image\Github\BsxImacSilver\Left.icns</key>
		<data>
		Zd72fCrGRXKbqeXmRoNRYrhZ6z3Jmgi8/6f1AYLf//c=
		</data>
		<key>Resources\Image\Github\BsxImacSilver\Lock.icns</key>
		<data>
		r0LB98sI27BixMxhj/WoDvPxbrGOfPnOw2AdT/LBsa8=
		</data>
		<key>Resources\Image\Github\BsxImacSilver\MemTest.icns</key>
		<data>
		x3Zq681ZF9I9gF3ThyqknOzyhCuz4++G1ShBB5tnxZQ=
		</data>
		<key>Resources\Image\Github\BsxImacSilver\OpenCore.icns</key>
		<data>
		zjiFb4iplwi7zNdgCo29kWaBO59T+ygQBiIiSgtMXwo=
		</data>
		<key>Resources\Image\Github\BsxImacSilver\Password.icns</key>
		<data>
		9l0lkB54MNfzY+R+MUvtHh2RotrIwb9pdbRVtnhZEXo=
		</data>
		<key>Resources\Image\Github\BsxImacSilver\ResetNVRAM.icns</key>
		<data>
		l9Bosyte/xkP2ij46eIr/UDTS/A5STqtilHKNkJ1aXM=
		</data>
		<key>Resources\Image\Github\BsxImacSilver\Restart.icns</key>
		<data>
		OUKhhHYn3ZeikumXKee6vLzy6U5jmTCUGkQIubkGJuU=
		</data>
		<key>Resources\Image\Github\BsxImacSilver\Restart_alt.icns</key>
		<data>
		a+KlSU6KHsPqj3sBwtOqX9I3cAzThbT/vOKoeb79COw=
		</data>
		<key>Resources\Image\Github\BsxImacSilver\Right.icns</key>
		<data>
		kSyfAU0ebF8uPlhTb/+x17o/oiuQn7uaS6BUo2veOtQ=
		</data>
		<key>Resources\Image\Github\BsxImacSilver\Selected.icns</key>
		<data>
		kZvfejJKMERt+BjQOSMBDfrEYLb2QFFArSXzGNb4l40=
		</data>
		<key>Resources\Image\Github\BsxImacSilver\Selector.icns</key>
		<data>
		WHa1UckDHvpoqA3EYvHZvdUjIPloD3v4+NinKLbfLLg=
		</data>
		<key>Resources\Image\Github\BsxImacSilver\SetDefault.icns</key>
		<data>
		7vS0VmrAL7wgfC40K5MtPhUMaBTlgJXGL2f2Kb0t8xo=
		</data>
		<key>Resources\Image\Github\BsxImacSilver\Shell.icns</key>
		<data>
		MQ0PcyvMSsEd0CH5kuJzGUmGZhWtH6dVa57lQad6rCk=
		</data>
		<key>Resources\Image\Github\BsxImacSilver\ShutDown.icns</key>
		<data>
		RznTBge7qE9opHlNxGh1V1EChPMnRPGGMDHJcIk42ng=
		</data>
		<key>Resources\Image\Github\BsxImacSilver\ToggleSIP.icns</key>
		<data>
		wDMnQe8IHnsp2m9LKbQVWGZIbPe59xvIQC3fvn1YHeE=
		</data>
		<key>Resources\Image\Github\BsxImacSilver\Tool.icns</key>
		<data>
		s7lKJO4heqmm3zEU/1pPmPPh5q11VCFJ7DTTuGBJ/1U=
		</data>
		<key>Resources\Image\Github\BsxImacSilver\Windows.icns</key>
		<data>
		37+FWofKFaRKf/wymiDiQn6skdWhNCr+pmouIFk4f+Y=
		</data>
		<key>Resources\Image\Github\BsxImacSilver\Windows11.icns</key>
		<data>
		KbfoswTI4Jac+Z/n1h88P653nB9bCbfBbfqnCGGAz6c=
		</data>
		<key>Resources\Image\Github\BsxImacSilver\Windows11_Rounded.icns</key>
		<data>
		XZqW2891TU1RTZDQCVHF+pwGYczecEmJV289lUkQUhE=
		</data>
		<key>Resources\Label\Apple.l2x</key>
		<data>
		aqQuuV8p4HnZyMw9D3OJ6GuyaHoi2LH5mOTMiHsP8B0=
		</data>
		<key>Resources\Label\Apple.lbl</key>
		<data>
		Beur9wk5wxkmid2OEO1n7hJr75sAEaEbilsftssHsVk=
		</data>
		<key>Resources\Label\AppleRecv.l2x</key>
		<data>
		45KSmt4VG9OpqhvlrzFyzYti6k1acdD10jKE7u1LBow=
		</data>
		<key>Resources\Label\AppleRecv.lbl</key>
		<data>
		ZNl8ExxImOlljcrtb0HRj9yZwvPOV7bBf+UVgq1quNw=
		</data>
		<key>Resources\Label\AppleTM.l2x</key>
		<data>
		vlVLy0ljWOJ6/CLBBKi3tTsni3zSNQSLAy3grJv3Fec=
		</data>
		<key>Resources\Label\AppleTM.lbl</key>
		<data>
		FHQN+5rnVtoLvnEYSWmOT/rc4a9Xm0rPh4L0FIqadtA=
		</data>
		<key>Resources\Label\EFIBoot.l2x</key>
		<data>
		tUq1rW76qR+qrXVI9RI8bnqCWflnAWtGnhDgCTg4IZ4=
		</data>
		<key>Resources\Label\EFIBoot.lbl</key>
		<data>
		Zcy1wg8NZqZmUacQhy6KkH19QbcEnGR9YgvK0sqONbA=
		</data>
		<key>Resources\Label\Other.l2x</key>
		<data>
		bToqVY/uMYK1bZIRKXjW3yY/r8UIi/vKtMxIflqRvPE=
		</data>
		<key>Resources\Label\Other.lbl</key>
		<data>
		mqInO/f5n7q8fukEDFzomQlFwJL4QxYRqlcmFoJ/f8o=
		</data>
		<key>Resources\Label\ResetNVRAM.l2x</key>
		<data>
		hYMKejHsjiMruJTRWlb1ghGYLD9nWj62/oGQ9AMABkM=
		</data>
		<key>Resources\Label\ResetNVRAM.lbl</key>
		<data>
		x/EwJcwlbQV6AmKggOwO2TP/9yAhi79HyHYvL+Q1AJg=
		</data>
		<key>Resources\Label\SIPDisabled.l2x</key>
		<data>
		Se7aJMm3tiUxhjMfnD7/i7q3KH27oMqhuM1X3xCvQxg=
		</data>
		<key>Resources\Label\SIPDisabled.lbl</key>
		<data>
		SxWFiHm34BJxnP2LcJKNsBFGTXSCEWuUj0jJt7WwM6Q=
		</data>
		<key>Resources\Label\SIPEnabled.l2x</key>
		<data>
		8izpKI+IWaoM52CeTiDTbDEp+lgAVqHHp4OqZbuQBDA=
		</data>
		<key>Resources\Label\SIPEnabled.lbl</key>
		<data>
		UFUQHABixhEaU0jr78FnQGBQyGygfFGIDdJYedUxvlc=
		</data>
		<key>Resources\Label\Shell.l2x</key>
		<data>
		iL/jdtTT78wa42h1t64Nwf3yf3o8LYWbC4pfh/Y60b8=
		</data>
		<key>Resources\Label\Shell.lbl</key>
		<data>
		7yts2fxOEcPtVYVV/Pvp+zN3/V2HISzrXh3B+pReBEU=
		</data>
		<key>Resources\Label\Tool.l2x</key>
		<data>
		L9RHriS0wbQ6Yx9aEWobWlnFj0mVn85MX+1+d08HvyQ=
		</data>
		<key>Resources\Label\Tool.lbl</key>
		<data>
		gAm1eccLkfAykSaU3SXahr3mwZTfF2WRTQmdjY5OezU=
		</data>
		<key>Resources\Label\Windows.l2x</key>
		<data>
		xkiFqfW3cXMhpJkn3pjxTRnLt64SGh0Pn2LX102vQ+A=
		</data>
		<key>Resources\Label\Windows.lbl</key>
		<data>
		oZr/+8/2lWIWWm7DcSXwexQNxY8PFNFSLDJsXKs8CbM=
		</data>
		<key>Tools\CleanNvram.efi</key>
		<data>
		fISkHMFJD0x9U+73Qa+ZJFeZoFuxojowLVCaY/M0K5E=
		</data>
		<key>Tools\OpenShell.efi</key>
		<data>
		Qa54g9nN4y9OYm2K1v8qfwdgy/4lLB7i5c/OImanuBk=
		</data>
		<key>config.plist</key>
		<data>
		dddZb2MpxPYm2U/hwVtl7DJG9GuDU2klBZ6kdwHLuOU=
		</data>
	</dict>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
